<!DOCTYPE html>
<html>
    <body>
        <h2>If you have an account</h2>
        <form action="/auth" method="POST">
            <label for="userLogin">Username: </label><input type="text" name="userLogin" id="userLogin"><br><br>
            <label for="userPwd">Password: </label><input type="password" name="userPwd" id="userPwd"><br><br>
            <input type="hidden" name="req-type" value="auth"/>
            <input type="hidden" name="returnto" value="{{returnto}}"/>
            <input type="submit" value="Authorize"/>
        </form>
        <h2>Create new account</h2>
        <form action="/auth" method="POST">
            <label for="userLoginA">Username: </label><input type="text" name="userLogin" id="userLoginA"><br><br>
            <label for="userPwdA">Password: </label><input type="password" name="userPwd" id="userPwdA"><br><br>
            <label for="userPwdRA">Repeat password: </label><input type="password" name="userPwdR" id="userPwdRA"><br><br>
            <input type="hidden" name="req-type" value="register"/>
            <input type="hidden" name="returnto" value="{{returnto}}"/>
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>