<!DOCTYPE HTML>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
<title>Russian Constructicon: Welcome</title>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<style>

.container {
  width: auto;
  padding: 0 15px;
}

main div.container {
  min-height: 610px;
}

.foot.container {
  padding: 10px 15px;
}

.footer {
  background-color: #f5f5f5;
}

.navbar-brand {
  font-family: Times New Roman;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black !important;
}

#structure-query {
  max-width: 600px;
}

.semantic-roles ul,
.cefr-options ul,
.gram-search ul,
.semantics ul,
.syntax ul {
  column-count: 4;
  column-gap: 2rem;
  list-style: none;
}

.cefr-options ul {
  column-count: 2;
}
</style>

<script>
    $(function () {

      $("a[href*='#panel']").click(function(e){
        e.preventDefault();
        $(this).tab('show');
      });

      fastBrowsing = function (e) {
        e.preventDefault();
        window.location.href = "/search?q=" + encodeURIComponent(
          JSON.stringify({prefix: $("#search-prefix").val().trimEnd("\n")})
        );
      };

      $(".prefix-browse").click(fastBrowsing);
      $("#search-prefix").keypress(function (e) {
        if (e.which === 13)
          fastBrowsing(e);
      });

      $(".just-browse").click(function (e) {
        var searchQuery = {};
        searchQuery.cefr = [];
        $(".cefr-options ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.cefr.push(el.value);
        });
        if (searchQuery.cefr.length === 0)
            delete searchQuery.cefr;
        window.location.href = "/search?q=" + encodeURIComponent(JSON.stringify(searchQuery));
      });

      $(".daily-dose").click(function (e) {
        var searchQuery = {};
        searchQuery.cefr = [];
        $(".cefr-options ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.cefr.push(el.value);
        });
        if (searchQuery.cefr.length === 0)
            delete searchQuery.cefr;
        searchQuery.daily_dose = 5;
        window.location.href = "/search?q=" + encodeURIComponent(JSON.stringify(searchQuery));
      });

      $(".browse-const").click(function (e) {
        var searchQuery = {};
        searchQuery.sem_search = [];
        $(".semantic-roles ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.sem_search.push(el.value);
        });
        if (searchQuery.sem_search.length === 0)
            delete searchQuery.sem_search;

        searchQuery.sem_search2 = [];
        $(".semantics ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.sem_search2.push(el.value);
        });
        if (searchQuery.sem_search2.length === 0)
            delete searchQuery.sem_search2;

        searchQuery.synt_search = [];
        $(".syntax ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.synt_search.push(el.value);
        });
        if (searchQuery.synt_search.length === 0)
            delete searchQuery.synt_search;

        searchQuery.gram_search = [];
        $(".gram-search ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.gram_search.push(el.value);
        });
        if (searchQuery.gram_search.length === 0)
            delete searchQuery.gram_search;

        searchQuery.cefr = [];
        $(".cefr-options ul li div label input[type=checkbox]").each(function (num, el) {
            if (el.checked)
                searchQuery.cefr.push(el.value);
        });
        if (searchQuery.cefr.length === 0)
            delete searchQuery.cefr;

        if ($("#structure-query").val() !== "")
            searchQuery.structure = $("#structure-query").val();

        window.location.href = "/search?q=" + encodeURIComponent(JSON.stringify(searchQuery));
      });

    });
</script>
</head>

<body class="d-flex flex-column h-100">


<main role="main" class="flex-shrink-0">

<div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Russian Constructicon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <!--
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" id="search-prefix" placeholder="Search word(s)">
        </div>
        <button type="button" class="btn btn-default prefix-browse">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="//github.com/ftyers/konstruktikon/blob/master/konstruktikon.xml">
              Data obtained from <i>konstruktikon.xml</i>
          </a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-8 col-lg-offset-2">
    <ul class="nav nav-tabs">
        <!--<li><a data-toggle="tab" href="#panel1">Search word(s)</a></li>-->
        <li class="active"><a data-toggle="tab" href="#panel6">Table</a></li>
        <li><a data-toggle="tab" href="#panel2">Content categories</a></li>
        <li><a data-toggle="tab" href="#panel4">Gr. categories</a></li>
        <li><a data-toggle="tab" href="#panel7">Semantics</a></li>
        <li><a data-toggle="tab" href="#panel8">Syntax</a></li>
        <li><a data-toggle="tab" href="#panel3">CEFR Level</a></li>
        <li><a href="#" class="daily-dose">Daily dose</a></li>
        <li><a href="#" class="just-browse">Browse</a></li>
        <li><a data-toggle="tab" href="#panel5">About us</a></li>
    </ul>

    <div class="tab-content">
      <div id="panel1" class="tab-pane fade">
        <h3>Structure query</h3>
        <p>
            The query should match a sequence included in the tree (can be the whole tree):<br>
            <ul>
                <li>
                    e.g.: <code>[advmod разве] [advmod не]</code> will be found in <code>[root [advmod разве] [advmod не] NP-Nom]</code>
                </li>
            </ul>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Structure query" id="structure-query"></textarea>
            </div>
        </p>
      </div>
      <div id="panel5" class="tab-pane fade">
          <h3>About us</h3>
          <p>The Russian Constructicon is a free and publicly available resource for learners of Russian as well as for instructors and linguists. The Russian Constructicon contains over 1000 grammatical constructions (multiword expressions that are not transparent to L2 learners, such as <strong><em>возьми и VP</em></strong> in <em>он <strong>возьми и купи</strong> себе новую машину</em> ‘<em>geez, he went and bought himself a new car</em>’) with explanations and illustrative examples. The database is being constantly updated with the new constructions added to the website.</p>
            <p>Old version of the Russian Constructicon is available
              <a href="https://spraakbanken.gu.se/karp/#?mode=konstruktikon-rus&amp;lang=swe&amp;advanced=false&amp;searchTab=special&amp;hpp=25&amp;extended=and%7Crus-construction%7Cequals%7C&amp;page=1" rel="noopener noreferrer" target="_blank">here</a>.
            </p>
            <p >The Russian Constructicon is a joint project of Higher School of Economics (Moscow) and UiT The Arctic University of Norway (Tromsø).</p>
            <p>Core of the project:</p>
            <ul>
              <li>Laura A. Janda</li>
              <li>Ekaterina Rakhilina</li>
              <li>Olga Lyashevskaya</li>
              <li>Tore Nesset</li>
              <li>Anna Endresen</li>
              <li>Daria Mordashova</li>
              <li>Valentina Zhukova</li>
            </ul>
            <p>Website development:</p>
            <ul>
              <li>Fyodor Sizov (leading developer)</li>
              <li>Anna Klezovich</li>
            </ul>
      </div>
      <div id="panel6" class="tab-pane fade in active">
        <h3>All constructions</h3>
          <p>Здесь можно искать конструкции по любой подстроке и переходить на страницу индивидуальной конструкции</p>
            <div class="container">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table">
                <thead><tr>
                    <th>Expression</th>
                </tr></thead>
                <tbody id="myTable">
                    {% for el in base %}
                    <tr>
                        <td><a href='/search?q=%7B%22prefix%22%3A%22{{ el }}%22%7D'>{{ el }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
      </div>
      <div id="panel2" class="tab-pane fade">
        <h3>Semantic roles</h3>
        <p>
            <div class="form-group semantic-roles">
                <ul>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Actant">Actant</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Action">Action</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Activity">Activity</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Agent">Agent</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Assessment">Assessment</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Associated">Associated</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Assumption">Assumption</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Beneficiary">Beneficiary</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Cause">Cause</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Circumstance">Circumstance</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Conclusion">Conclusion</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Condition">Condition</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Container">Container</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Context">Context</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Copula">Copula</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Estimation">Estimation</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Evaluation">Evaluation</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Event">Event</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Evidence">Evidence</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Experiencer">Experiencer</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Factor">Factor</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Goal">Goal</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Intensifier">Intensifier</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Limitation">Limitation</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Link">Link</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Location">Location</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Number">Number</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Object">Object</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Participant">Participant</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Patient">Patient</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Property">Property</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Protagonist">Protagonist</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Prototype">Prototype</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Purpose">Purpose</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Quality">Quality</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Quantity">Quantity</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Reason">Reason</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Recipient">Recipient</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Referent">Referent</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Result">Result</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Role">Role</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Set">Set</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Situation">Situation</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Source">Source</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Standard">Standard</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="State">State</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Stimulus">Stimulus</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Theme">Theme</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Time">Time</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Topic">Topic</label>
                </div></li>
                </ul>
            </div>
        </p>
      </div>

      <div id="panel7" class="tab-pane fade">
        <p>
            <div class="form-group semantics">
                <ul>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="Transformation of object">Transformation of object</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Inceptive">Inceptive</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Low">Low</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Naming">Naming</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Condition">Condition</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Degree of certainty">Degree of certainty</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Result">Result</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Continuation">Continuation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Antiresultative">Antiresultative</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Purpose">Purpose</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Addressee">Addressee</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Categorisation">Categorisation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Request">Request</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Periodicity">Periodicity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Distance">Distance</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Terminative">Terminative</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Possession">Possession</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Negative">Negative</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Weight">Weight</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="High">High</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Emphasis">Emphasis</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Continuative prohibition">Continuative prohibition</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Success">Success</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Topic">Topic</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Imitation">Imitation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Clarification">Clarification</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Equality">Equality</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Source of opinion">Source of opinion</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Money">Money</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Direct">Direct</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Counting">Counting</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Approximation">Approximation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Similarity">Similarity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Location">Location</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Instrument">Instrument</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Attitude">Attitude</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Experience">Experience</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Intention">Intention</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Consequence">Consequence</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Temporary state">Temporary state</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Universal">Universal</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Inclusivity">Inclusivity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Subset">Subset</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Additive">Additive</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Subject switch">Subject switch</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Exclusivity">Exclusivity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Contrast">Contrast</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Apprehension">Apprehension</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Comparison">Comparison</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="high">high</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Iterative">Iterative</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Summary">Summary</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Focus">Focus</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Counterfactual">Counterfactual</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Cause">Cause</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Necessity">Necessity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Size">Size</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Intensity">Intensity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Prohibition">Prohibition</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Indirect">Indirect</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Distribution">Distribution</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Causation">Causation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Manner">Manner</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Assessment">Assessment</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Time">Time</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Positive">Positive</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Hidden comparison">Hidden comparison</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Measure">Measure</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Reaction to the previous discourse">Reaction to the previous discourse</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Sameness">Sameness</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Permission">Permission</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Proximity">Proximity</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Source of information">Source of information</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Concession">Concession</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Attenuated prohibition">Attenuated prohibition</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Quantification">Quantification</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Damnation">Damnation</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Puctive">Puctive</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Age">Age</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Non-existence">Non-existence</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Prediction">Prediction</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Options">Options</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Unexpected outcome">Unexpected outcome</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Routine">Routine</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Sequence">Sequence</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Wish">Wish</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Threat">Threat</label>
                </div></li>

                <li><div class="checkbox">
                  <label><input type="checkbox" value="Kind wishes">Kind wishes</label>
                </div></li>
                </ul>
            </div>
        </p>
      </div>

      <div id="panel8" class="tab-pane fade">
          <p>
              <div class="form-group syntax">
                                <ul><li><div class="checkbox">                  <label><input type="checkbox" value="Matrix">Matrix</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Adv">Adv</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Clause">Clause</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Conj">Conj</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Biclausal">Biclausal</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Verb pattern">Verb pattern</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Adj">Adj</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Light verb">Light verb</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Nominal pattern">Nominal pattern</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Prep">Prep</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Praedic">Praedic</label>                </div></li>
                <li><div class="checkbox">                  <label><input type="checkbox" value="Clause">Clause</label>                </div></li>
                                    <li><div class="checkbox">                  <label><input type="checkbox" value="Parenth">Parenth</label>                </div></li></ul>
              </div>
          </p>
      </div>

      <div id="panel3" class="tab-pane fade">
        <p>
            <div class="form-group cefr-options">
                <ul>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="A1">A1</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="A2">A2</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="B1">B1</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="B2">B2</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="C1">C1</label>
                </div></li>
                <li><div class="checkbox">
                  <label><input type="checkbox" value="C2">C2</label>
                </div></li>
                <a href="#" onclick='$(".cefr-options ul li div label input").attr("checked", true)'
                   class="btn btn-primary" role="button" style="text-align: center; display: block;">
                    All levels
                </a>
                </ul>
            </div>
        </p>
      </div>
      <div id="panel4" class="tab-pane fade">
        <h3>Grammatical categories</h3>
        <p>
            <div class="form-group gram-search">
                <ul>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Nom">Nominative case</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Gen">Genitive case</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Dat">Dative case</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Acc">Accusative case</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Ins">Instrumental case</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Imper">Imperfective aspect</label>
                    </div></li>
                    <li><div class="checkbox">
                      <label><input type="checkbox" value="Perf">Perfective aspect</label>
                    </div></li>
                </ul>
            </div>
        </p>
      </div>
    </div>
    <a href="#" class="btn btn-success browse-const" role="button" style="text-align: center; display: block;">
        Search in Constructicon
    </a>
</div>

</div>
</main>


<footer class="footer mt-auto py-3">
  <div class="foot container text-muted">
    <span>
        Developed & deployed by <a href="//github.com/prodotiscus/russian-constructicon">Fyodor Sizov</a> (2019),
        <i>f.sizov@yandex.ru</i>
    </span>
  </div>
</footer>

<script>
  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree();
    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);
    });
    // 8 interact with the tree - either way is OK
    $('button').on('click', function () {
      $('#jstree').jstree(true).select_node('child_node_1');
      $('#jstree').jstree('select_node', 'child_node_1');
      $.jstree.reference('#jstree').select_node('child_node_1');
    });
  });
</script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>
